<% @page_title = "友達の新規登録" %>

<h1><%= @page_title %></h1>

<%= form_for @friend do |form| %>
    <%= render "form", form: form %>
    <div><%= form.submit %></div>
<% end %>

<div class="toolbar2"><%=link_to "<<Top", root_path %></div>