<% @page_title = "å‹é”ã®è©³ç´°" %>

<h1><%= @page_title %></h1>

<h2><%= @friend.name %></h2>

<%= render "shared/errors", obj: @telephone %>

<ul>
    <% @friend.telephones&.each do |phone| %>
        <li type="circle"><%= phone.number %><%= phone.cellphone ? "ðŸ“±" : "" %>
                <%= link_to "delete", phone, method: :delete, data: { confirm: "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹?" } %></li>
    <% end %>
    <%= form_for @telephone do |form| %>
        <%= form.hidden_field :friend_id, :value => @friend.id %>
        <li type="circle"><%= form.text_field :number, size: 8 %><%= form.check_box :cellphone, {}, true, false %><%= form.label :cellphone %><%= form.submit %></li>
    <% end %>
</ul>

<div class="toolbar2"><%=link_to "<<Top", root_path %></div>